ci:
  autofix_prs: false
  skip: [dvc-pre-commit, dvc-pre-push, dvc-post-checkout]

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: 1.8.0
    hooks:
      - id: poetry-check
        name: Check poetry (poetry-check)
        always_run: true

  - repo: https://github.com/iterative/dvc
    rev: 3.55.2
    hooks:
      - id: dvc-pre-commit
        additional_dependencies:
          - .[all]
        language_version: python3
        stages:
          - pre-commit
      - id: dvc-pre-push
        additional_dependencies:
          - .[all]
        language_version: python3
        stages:
          - pre-push
      - id: dvc-post-checkout
        additional_dependencies:
          - .[all]
        language_version: python3
        stages:
          - post-checkout
        always_run: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
        name: Check case conflict (check-case-conflict)

      - id: check-yaml
        name: Check yaml (check-yaml)
        exclude: mkdocs.yaml
        types: [yaml]

      - id: check-json
        name: Check json (check-json)
        types: [json]

      - id: check-added-large-files
        name: Check added large files (check-added-large-files)

  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        name: strip output from notebooks (nbstripout)
        stages: [pre-commit, pre-push]
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.0
    hooks:
      - id: ruff
        name: Check style and linting (ruff)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.12.1
    hooks:
      - id: mypy
        name: Check types (mypy)
        additional_dependencies: [types-requests]
        require_serial: true

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black-jupyter
        name: Format python code (black)

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        name: Format files (prettier)
        exclude_types: [python, jupyter]
