ci:
  autofix_prs: false
  skip: [dvc-pre-commit, dvc-pre-push, dvc-pre-checkout]

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: 1.4.0
    hooks:
      - id: poetry-check
        name: Check poetry (poetry-check)
        always_run:
          true

          # - id: poetry-lock
          #   name: Lock poetry (poetry-lock)
          #   files: "pyproject.toml"

  - repo: https://github.com/iterative/dvc
    rev: 2.51.0
    hooks:
      - id: dvc-pre-commit
        additional_dependencies:
          - .[all]
        language_version: python3
        stages:
          - commit
      - id: dvc-pre-push
        additional_dependencies:
          - .[all]
        language_version: python3
        stages:
          - push
      - id: dvc-post-checkout
        additional_dependencies:
          - .[all]
        language_version: python3
        stages:
          - post-checkout
        always_run: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
        name: Check case conflict (check-case-conflict)
        always_run: true

      - id: check-merge-conflict
        name: Check merge conflict (check-merge-conflict)
        always_run: true

      - id: check-yaml
        name: Check yaml (check-yaml)
        exclude: mkdocs.yaml
        types: [yaml]

      - id: check-json
        name: Check json (check-json)
        types: [json]

      - id: check-added-large-files
        name: Check added large files (check-added-large-files)

  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: strip output from notebooks (nbstripout)
        stages: [commit, push]
        types: [jupyter]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: Sort imports (isort)
        types: [python, jupyter]

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        name: Format python code (black)
        types: [python, jupyter]

  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        name: Check code style (flake8)
        types: [python, jupyter]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.1.1
    hooks:
      - id: mypy
        name: Check types (mypy)
        types: [python, jupyter]
        additional_dependencies: [types-requests]
        require_serial: true

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: Format files (prettier)
        exclude_types: [python, jupyter]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        name: Upgrade python code (pyupgrade)
        types: [python, jupyter]
