[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
pandas = "*"
numpy = "*"
requests = "*"
ipykernel = "*"

[dev-packages]
black = {extras = ["jupyter"], version = "*"}
isort = "*"
mypy = "*"
pylint = "*"
flake8 = "*"
pytest = "*"
autopep8 = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
